/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.filters {
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select {
    margin-right: 20px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recipe {
    width: 45%; /* Upravili jsme šířku, aby se vešly dva vedle sebe */
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Přidali jsme stín */
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer p {
    margin: 5px 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .recipe {
        width: 100%;
    }
}
